@{
    ViewBag.Title = "Please log in to vote";
}
<p>
    <b>Thank you</b> for offering to quality-control our translations by voting for
    them! However, before we can accept your vote, we kindly ask you to log in through
    any of our partners below. We do this to ensure that all participants vote only
    once to maintain the site's overall quality.
</p>

@{ Html.RenderPartial("_OauthHead"); }
@*    <input type="hidden" name="returnUrl" value="@Url.Action("Translate", "Home")"/>
    <input type="checkbox" name="noPublicityThanks"/>
    <label for="noPublicityThanks">No thank you, I'd like to help people, but would not like any publicity</label> (can be changed later).*@
@{ Html.RenderPartial("_OauthFoot"); }
