    <h3>Log on using ...</h3>
    
    <a href="#" class="login button" data-lid="https://www.google.com/accounts/o8/id">Google</a>
    <a href="#" class="login button" data-lid="https://openid.aol.com/">AOL</a>
    <a href="#" class="login button" data-lid="https://myopenid.com/">MyOpenID</a>
    <a href="#" class="login button" data-lid="https://api.myspace.com/openid">MySpace</a>
    <a href="#" class="login button" data-lid="https://pip.verisignlabs.com/">Verisign</a>
    <a href="#" class="login button" data-lid="https://me.yahoo.com/">Yahoo!</a>
    
    <h3>... or an other OpenID-provider</h3>
    @Html.TextBox("loginIdentifier", "", new { id = "loginIdentifier" })
    
    <p/><a href="#" id="submitButton" class="button">Log on using above</a>
</form>
<script>
    $(function () {
        $("a.login").click(function () {
            var loginProvider = $(this).text();
            $("#OauthForm").slideUp(function () {
                $("#OauthMessage").text('Connecting to ' + loginProvider + '...');
                $("#OauthMessage").fadeIn();
            });
            $("#loginIdentifier").val($(this).data("lid"));
            $("#OauthForm").submit();
            return false;
        });
        $("#submitButton").click(function () {
            $("#OauthForm").submit();
            return false;
        });

        $("#OauthMessage").hide();
    });
</script>
<hr/>
<div id="OauthMessage"></div>