@model dynamic

@{
    ViewBag.Title = "Credits";
}

<p>
    First off, credit goes out to the authors of <b>Professional iPhone Programming with MonoTouch and .NET/C#</b> by Wrox: Wallace B. McClure, Martin Bowling,
    Craig Dunn, Chris Hardy and Rory Blyth. Reading chapter 12 in the book, about <b>Displaying Multiple Languages</b>, I got inspired to make this site. Also,
    Craig Dunn has made the <a href="https://github.com/conceptdev/ngenstrings">ngenstrings project</a> available on GitHub, which this site use a modified 
    version of to offer translations for your MonoTouch .dll-files.
</p>
<p>
    With the inspirational bit out of the way ;-), I would like to take this opportunity to give thanks to a number of authors, whose components I've used to
    make this site what it is. In no particular order, thank you:
</p>
<ul>
    <li/> The NuGet-team, for making installing third part libraries a breeze.
    <li/> The ASP.NET-team for making the MVC framework so easy to work with.
    <li/> DotNetZip - <a href="http://dotnetzip.codeplex.com/">dotnetzip.codeplex.com</a>
    <li/> DotNetOpenAuth - <a href="http://www.dotnetopenauth.net/">www.dotnetopenauth.net</a>
    <li/> Grant Skinner for his excellent <a href="http://gskinner.com/RegExr/">online RegEx testing tool</a>
    <li/> GitHub for its <a href="http://www.github.com">free source code hosting</a> and excellent Windows client!
    <li/> Paint.NET - <a href="http://www.getpaint.net/">www.getpaint.net</a>
</ul>
