@{
    ViewBag.Title = "Resources";
}

<h2>Developer resources</h2>

<ul>
    <li /><a href="http://msdn.microsoft.com/en-us/library/ff637520%28VS.92%29.aspx" target="_blank">How to: Build a Localized Application for Windows Phone</a>
    <li/>iOS Developer Library
    <ul>
        <li /><a href="https://developer.apple.com/library/ios/#documentation/MacOSX/Conceptual/BPInternational/Articles/InternatSupport.html#//apple_ref/doc/uid/20000278-SW1" target="_blank">Support for Internationalization</a>
        <li /><a href="http://developer.apple.com/library/ios/#DOCUMENTATION/iPhone/Conceptual/iPhoneOSProgrammingGuide/App-RelatedResources/App-RelatedResources.html" target="_blank">Localized Resource Files</a>
    </ul>
    <li />Android Developers
    <ul>
        <li /><a href="http://developer.android.com/guide/topics/resources/localization.html" target="_blank">Localization</a>
        <li /><a href="http://developer.android.com/guide/topics/resources/string-resource.html" target="_blank">String Resources</a>
    </ul>
</ul>