@model dynamic

@{
    ViewBag.Title = "Log on using OAuth";
    Layout = "null";
}

<h2>Log on using OAuth</h2>

@using(Html.BeginForm("LogOn", "Oath", FormMethod.Post))
{
    @Html.TextBox("loginIdentifier")
    <input type="submit" value="Login using above"/>
}