@{
    ViewBag.Title = "Login using OpenID";
}

<h2>Login using OpenID</h2>

@using(Html.BeginForm("LogOn", "Oath", FormMethod.Post))
{
    <p>Log on using ...</p>
    
    <a href="#" class="login button" data-lid="https://www.google.com/accounts/o8/id">Google</a>
    <a href="#" class="login button" data-lid="https://openid.aol.com/">AOL</a>
    <a href="#" class="login button" data-lid="https://myopenid.com/">MyOpenID</a>
    <a href="#" class="login button" data-lid="https://api.myspace.com/openid">MySpace</a>
    <a href="#" class="login button" data-lid="https://pip.verisignlabs.com/">Verisign</a>
    <a href="#" class="login button" data-lid="https://me.yahoo.com/">Yahoo!</a>
    
    
    @Html.TextBox("loginIdentifier", "", new { id = "loginIdentifier" })
    <input type="submit" value="Login using above"/>
}

<script>
    $(function () {
        $("a.login").click(function () {
            $("#loginIdentifier").val($(this).data("lid"));
            $("form").submit();
            return false;
        });
    });
</script>